extends layout

block content
    section.section
        .hero.is-large
            .hero-body
                .container
                    h1.title About the project
                    h2.subtitle The FCC currently dictates that all records of political ad purchases be reported to them by the stations that run the advertisements.  These reports come in the form of PDFs that are not easily understood or parsed. Our goal is to convert these documents into easily understood data that can be used to make intelligent insights about our political landscape.