extends layout

block content
    section.section
        .hero.is-large
            .hero-body
                .container
                    h1.title= name
                    h2.subtitle Funds raised: $#{total}