extends layout

block content
    .container
        h1.title Campaigns A-Z
        table.table.is-fullwidth.is-striped
            thead
                tr
                    th Name
                    th(colspan=2) Total contributions
            tbody
                each campaign in campaigns
                    tr
                        td #{campaign.name}
                        td $#{campaign.total}
                        td.has-text-right
                            a(href='/campaign/' + campaign.id) View details