extends layout

block content
    .container
        h1.title Committees
        table.table.is-fullwidth.is-striped
            thead
                tr
                    th Name
                    th Type
                    th(colspan=2) Election date
            tbody
                each committee in committees
                    tr
                        td= committee.name
                        td= committee.type
                        td= committee.election_date
                        td.has-text-right
                            a(href='/committees/' + committee.id) View details