extends layout

block content
    .container
        h1.title Contracts
        table.table.is-fullwidth.is-striped
            thead
                tr
                    th Name
                    th Market
                    th(colspan=2) Type
            tbody
                each contract in contracts
                    tr
                        td= contract.name
                        td= contract.market
                        td= contract.type
                        td.has-text-right
                            a(href=`/contracts/${contract.id}`) View details