extends layout

block content
    section.section
        .hero.is-large
            .hero-body
                .container
                    h1.title ReFree the Files
                    h2.subtitle Bringing transparency to political ad contributions with intelligent insights
                    button.button(href='/campaigns') View Campaigns
                    button.button(href='/cities') View Cities
