doctype html
html
    head
        title ReFree the Files
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css')
        link(rel='stylesheet' href='/style.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
        script(src='/script.js')
    body
        nav.navbar(role='navigation' aria-label='main navigation')
            .navbar-brand
                a.navbar-item(href='/') ReFree the Files
                a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
            .navbar-menu
                .navbar-start
                // Search
                .navbar-end
                    a.navbar-item(href='/committees') Committees
                    a.navbar-item(href='/stations') Stations
                    a.navbar-item(href='/buyers') Buyers
                    a.navbar-item(href='/contracts') Contracts
                    a.navbar-item(href='https://github.com/jonahz5222/fcc-opif-api/blob/master/documentation.md') API Docs
                    a.navbar-item(href='/about') About
        block content