extends layout

block content
    block content
    section.section
        .hero.is-large
            .hero-body
                .container
                    h1.title #{name}
                    h2.subtitle Market: #{market}
                    h2.subtitle Type: #{type}